body {
    background-color: #666666;
    background-image: url("backgroundImage.png");
}

#downtimeCardID {
    background-color: lightgray;
}

#fetchEventsBtn {
    margin-left: auto;
}
#existingDateTable {
    width: 180px;
}