body {
    background-color: #666666;
    background-image: url("backgroundImage.png");
}

#downtimeCardID {
    background-color: lightgray;
}

#fetchEventsBtn {
    margin-left: auto;
}

#dateSelector1,
#dateSelector2 {
    /*width: 180px;*/
    display: flex;
    max-width: fit-content;
}

#dateSelector2 {
    display: none;
}

.form-select {
    display: flex;
    max-width: fit-content;
    margin-left: auto;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
}