body {
    background-color: #666666;
    background-image: url("backgroundImage.png");
    font-family: 'Roboto', sans-serif;
    /*overflow-y: hidden;*/
}

#downtimeCardID {
    background-color: lightgray;
    border-radius: 12px;
}

.card-title {
    font-weight: 600;
}

#fetchEventsBtn {
    margin-left: auto;
}

#dateSelector1,
#dateSelector2 {
    /*width: 180px;*/
    display: flex;
    max-width: fit-content;
}

#dateSelector2 {
    display: none;
}

.form-select {
    display: flex;
    max-width: fit-content;
    margin-left: auto;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
}

#tableContainer { height: calc(100vh - 290px); }